.gorra img {
    width: 130px;
    height: 130px;
    background-color: #fff;
    border: 3px solid #fff;
}

.gorras-section {
    display: flex;
    justify-content: space-between;
}

.gorra {
    margin: 30px;
}

.buy {
    background-color: #48e;
    padding: 6px 9px;
    color: #eee;
    border: none;
}

.buy:hover {
    background-color: #26c;
    padding: 6px 9px;
    color: #eee;
    border: none;
}

.gorras {
    display: flex;
}

.all-gorras {
    flex: 2;
    margin-left: 90px;
    margin-right: 40px;
}

/* .about-gorra {
        text-align: center;
} */

.about-gorra b {
    color: #676767;
}

.about-gorra p {
    color: #48e;
    margin-bottom: 3px;
}

.about-gorra span {
    color: #24a;
}

.show-cart {
    flex: 1;
    padding: 26px;
}

.show-cart .h3-text {
    background-color: #48e;
    padding: 12px;
    color: #fff;
}

.show-cart .cart {
    background-color: #fff;
}

.cart .item {
    padding: 8px 25px;
    border-top: solid 1px rgba(38, 136, 238, 0.35);
}

.cart .item:last-child {
    padding-bottom: 16px;
}

.cart .item:first-child {
    padding-top: 16px;
}

.show-cart .final-result {
    padding: 16px;
    text-align: center;
}

.separate {
    margin-left: 8px;
}

@media screen and (max-width: 1120px){
    .all-gorras {
        margin: 0;
    }
    .gorras-section {
        text-align: center;
        margin: 20px;
    }
	.gorra {
		margin: 10px;
    }
    .about-gorra {
        padding: 5px;
    }
}

@media screen and (max-width: 808px){
    .gorras-section {
        margin: 5px;
    }
    .gorras {
        display: block;
    }
    .gorra {
        margin: 15px;
        padding: 15px;
    }
}
@media screen and (max-width: 550px){
	.gorras-section {
        display: inline-block;
        justify-content: center;
        margin: 0 20px;
        padding: 0 48px;
	}
}
@media screen and (max-width: 420px){
	.gorras-section {
		padding: 20px 35px
	}
}
@media screen and (max-width: 390px){
	.gorras-section {
		padding: 20px 28px
	}
}
@media screen and (max-width: 365px){
	.gorras-section {
		padding: 20px 15px
	}
}
@media screen and (max-width: 350px){
	.gorras-section {
		padding: 20px 5px
	}
	.gorra {
		margin: 5px
	}
	.show-cart {
		min-width: 160px
	}
}