* {
   padding: 0;
   margin: 0;
   font-family: Century Gothic;
}

.body{
   background-color: #ededed;
}

.responsive-nav {
   display: none;
}

nav {
   background-color: #48e;
}

.nav li {
   display: inline-block;
   padding: 10px 0;
}

.nav li a {
   text-decoration: none;
   color: #eee;
}

.nav li .nav-button {
   color: #48e;
   padding: 2px;
}

.btn-light {
   margin-right: 8px;
   margin-left: 8px;
}

@media only screen and (max-width: 550px) {
   .nav {
      display: none;
   }
   .responsive-nav {
      display: block;
   }
}